<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>643718106978-5ae2ijh32p189bs5oe4q46brbevpriob.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.643718106978-5ae2ijh32p189bs5oe4q46brbevpriob</string>
	<key>API_KEY</key>
	<string>AIzaSyAoTSzMBcqTQS0vIvYPlP1WtJmx4-LWVTY</string>
	<key>GCM_SENDER_ID</key>
	<string>643718106978</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ambulanceDashboard</string>
	<key>PROJECT_ID</key>
	<string>centralized-emergency-services</string>
	<key>STORAGE_BUCKET</key>
	<string>centralized-emergency-services.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:643718106978:ios:bfc086fc90f4a5c18c263b</string>
</dict>
</plist>